* {
    padding: 0;
    margin: 0;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva,
        Verdana, sans-serif;
    color: black;
    border: none;
}

body {
    background-color: #3ab0aa;
}

#screen {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    user-select: none;
}

.saving {
    filter: brightness(130%) saturate(70%);
}

.buttons {
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
}

.presets {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.buttons > button {
    border-radius: 5px;
    padding: 2px;
}

.buttons > div > button {
    padding: 4px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    line-height: 5px;
    user-select: none;
}

.selected {
    background-color: #393;
    color: #ccc;
}

.presets > button {
    border-radius: 5px;
    padding: 2px;
    margin: 0 10px;
}

#grass-preset {
    background-color: #363;
    color: white;
}

#ocean-preset {
    background-color: #336;
    color: white;
}

#stone-preset {
    background-color: #999;
}

.row {
    display: flex;
}

.cell {
    width: 24px;
    height: 24px;
    pointer-events: none;
    position: relative
}

.sprite-img {
    width: 24px;
    height: 24px;
    image-rendering: pixelated;
    transition: 0.1s;
    position: absolute;
    top: 0;
    left: 0;
}

.background-img {
    width: 24px;
    height: 24px;
    image-rendering: pixelated;
    transition: 0.1s;
    position: absolute;
    top: 0;
    left: 0;
}

.editable {
    pointer-events: all;
    transition: 0.2s filter;
}

.editable:hover {
    filter: brightness(120%);
}

.current-sprite-element {
    width: 36px;
    height: 36px;
    image-rendering: pixelated;
    position: fixed;
    top: 24px;
    left: 24px;
    border: 2px solid #0995;
    box-sizing: content-box;
}

.current-background-element {
    width: 36px;
    height: 36px;
    image-rendering: pixelated;
    position: fixed;
    top: 72px;
    left: 24px;
    border: 2px solid #0995;
    box-sizing: content-box;
}

.selected-element{
    border: 2px solid #ccc;
}

.screen-content {
    border: 2px solid #0995;
}

.instructions {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.invisible {
    opacity: 0;
}

.manual {
    font-size: medium;
    text-align: center;
    margin-top: 50px;
}

.footer {
    margin: 30px;
    font-weight: bold;
    text-align: center;
}